body{
    font-family: "Lexend", system-ui;
}

.blend {
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

@keyframes animateParticle {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-2000px)
    }
}

.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease,transform 1.5s ease
}

.animate.show {
    opacity: 1;
    transform: translateY(0)
}

article img {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto
}
